# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables and virtual environments
.env
venv/
.venv/
env/
.env/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyCharm
.idea/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db



updatepassowrd.py
